{% include 'head.twig' %}
{% include 'navbar.twig' %}


<div class="container page-header">
    <div class="col-sm-12 col-md-7">
        <h1 class="text-center">{{ results.number }}</h1>

        <form class="form-inline" action="{{ settings.basepath }}vote/" method="POST">
            <button class="btn btn-success col-sm-3" type="submit" value="1" name="vote" data-toggle="tooltip" data-placement="top" title="Ce n'est pas un spam !"><i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true"></i><br> {{ results.positive }}</button>
            <button class="btn btn-danger col-sm-3 col-sm-offset-1" type="submit" value="-1" name="vote" data-toggle="tooltip" data-placement="top" title="C'est un spam !"><i class="fa fa-thumbs-o-down fa-4x" aria-hidden="true"></i> <br> {{ results.negative }}</button>
            <input type="text" name="report_id" value="{{ results.prim_key }}" hidden>
        </form>
    </div>

    <div class="col-sm-12 col-md-5">
        <div class="text-center">
            <span class="title text-primary">Signalé le : </span>
            <p>{{ results.datespam }}</p>
            <!--<img src="{{ settings.basepath }}img/type{{ results.type }}.png" class="float-right">-->
            <hr>
        </div>
        <div class="text-center">
            <span class="title text-primary">Signalé par :</span>
            <p>{{ results.pseudo }}</p>
            <hr>

        </div>
        <div class="text-center">
            <span class="text-primary">Remarque de l'auteur :</span>
            <p>{{ results.resume }}</p>
        </div>
    </div>


    <div id="commentArea" class="">
        {% include 'comForm.twig' %}
        <div class="list-group">
            {% for id in com %}
                <div class="list-group-item">
                    <p class="list-group-item-heading">Par : {{ id.pseudo }}</p>
                    <p class="list-group-item-text">Le: {{ id.date }} </p>
                    <p class="list-group-item-text">{{ id.comment }}</p>
                </div>
            {% endfor %}
        </div>

    </div>

</div>
<!-- 
*Changer l'action du formulaire pour lier au back
*Checker les appels twig
*
*
*
*class float-right à définir pour l'icone
*class title à définir avec les mêmes propriétés que le h5
*
*
*
-->

{% include 'footer.twig' %}
{% include 'foot.twig' %}

