{% include 'head.twig'  %}
{% include 'navbar.twig'  %}


<div class="container">
	<div class="col-sm-12 col-md-7"> 
		<h1 class="text-center">{{ json.phone_number }}</h1>

		<form class="form-inline" action="#">
			<button class="btn btn-success col-sm-3" type="submit"> + "Non-Spam"</button>
			<button class="btn btn-danger col-sm-3 col-sm-offset-1" type="submit">- "Spam"</button>
		</form>
	</div>

	<div class="col-sm-12 col-md-5">
		<div>
			<span class="title">Signalé le : </span>
			<span>{{ results.datespam }}</span>
			<!--<img src="{{ settings.basepath }}img/type{{ results.type }}.png" class="float-right">-->
		</div>
		<div>
			<span class="title">Signalé par :</span>
			<span>{{ results.pseudo }}</span>
		</div>
		<div>
			<h5>Remarque de l'auteur :</h5>
			<p>{{ results.resume }}</p>
		</div>	
	</div>
	



<div id="commentArea" class="">
{% include 'comForm.twig'  %}
	<div class="list-group">
	{% for id in com %}
		<div class="list-group-item">
			<a class="list-group-item-heading">Par : {{ id.pseudo }}</a>
			<p class="list-group-item-text">Le: {{ id.date }} </>
			<p class="list-group-item-text">{{ id.comment }}</>
		</div>
	{% endfor %}
	</div>

</div>

</div>
<!-- 
*Changer l'action du formulaire pour lier au back
*Checker les appels twig
*
*
*
*class float-right à définir pour l'icone
*class title à définir avec les mêmes propriétés que le h5
*
*
*
-->

{% include 'footer.twig' %}
{% include 'foot.twig' %}

