{% include 'head.twig'  %}
{% include 'navbar.twig'  %}

{% set number = results %}
<div class="container">
	<div class="col-sm-12 col-md-7"> 
		<h1 class="text-center">+{{ number.country }} {{ number.number }} </h1>

		<form class="form-inline" action="###">
			<button class="btn btn-success col-sm-3" type="submit"> + "Non-Spam"</button>
			<button class="btn btn-warning col-sm-3 col-sm-offset-1" type="submit">=  "Neutres"</button>
			<button class="btn btn-danger col-sm-3 col-sm-offset-1" type="submit">- "Spam"</button>
		</form>
	</div>

	<div class="col-sm-12 col-md-5">
		<div>
			<span class="title">Signalé le : </span>
			<span>{{ number.datespam }}</span>
			<img src="img/type{{ number.type }}.png" class="float-right">
		</div>
		<div>
			<span class="title">Signalé par :</span>
			<span>{{ number.pseudo }}</span>
		</div>
		<div>
			<h5>Remarque de l'auteur :</h5>
			<p>{{ number.resume }}</p>
		</div>	
	</div>
</div>

<!--
<div id="commentArea" class="container">
	<form action="" name="comment">
		<textarea name="comment" placeholder="Votre commentaire ici"></textarea>
		<button type="submit" class="btn btn-primary">Envoyer</button>
	</form>

{ for item in item %}
	<div class="row">
		<div class="col-sm-3">
			<h5>Par : { auteur }}</h5>
			<h5>Le: { datecomment }} </h5>
		</div>
		<div class="col-sm-9">
			<p>{ comment }} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
		</div>
{ endfor %}


	</div>
</div>


*Changer l'action du formulaire pour lier au back
*Checker les appels twig
*
*
*
*class float-right à définir pour l'icone
*class title à définir avec les mêmes propriétés que le h5
*
*
*
-->


{% include 'head.twig' %}
