 <nav class="navbar navbar-inverse">
    <div class="container-fluid">
       <div class="navbar-header">
          <a class="navbar-brand" href="{{ settings.basepath }}">SPAM REPORTER</a>

        </div>
      <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><a href="{{ settings.basepath }}report/">Signaler</a></li>
          <li><a href="{{ settings.basepath }}contact/">Nous contacter</a></li>
          <li><a href="{{ settings.basepath }}annuaire/">Annuaire</a></li>

        </ul>
<!-- Conditionner avec login et if twig -->
  <!-- Si login -->
        <ul class="nav navbar-nav navbar-right">
          <li>Bonjour { pseudo }.</li>
          <li><a href="{{ settings.basepath }}logout/">Se déconnecter</a></li>
        </ul>
  <!-- else -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ settings.basepath }}login/">Se connecter</a></li>
        </ul>

        </div>
    </div>
  </nav>
